# Native trends: one RRD per stable adapter/peer/metric, DS=value GAUGE.
# a=reporting PLC MAC; p=peer PLC MAC; slotN=receive slot at reporting adapter.
# No UN->0 conversion: missing samples must remain unknown.

[powerline]
    FNPATTERN ^powerline,(a[0-9a-f]+_p[0-9a-f]+_(?:tx|rx)_phy_mbps)\.rrd$
    TITLE Powerline PHY rates (not application throughput)
    YAXIS Mbit/s
    -l 0
    DEF:v@RRDIDX@=@RRDFN@:value:AVERAGE
    LINE1:v@RRDIDX@#@COLOR@:@RRDPARAM@
    GPRINT:v@RRDIDX@:LAST: %8.2lf (cur)
    GPRINT:v@RRDIDX@:MAX: %8.2lf (max)\n

[powerlinepb]
    FNPATTERN ^powerline,(a[0-9a-f]+_p[0-9a-f]+_(?:tx|rx)_pb_interval_pct)\.rrd$
    TITLE Powerline PB interval error
    YAXIS Percent
    -l 0
    DEF:v@RRDIDX@=@RRDFN@:value:AVERAGE
    LINE1:v@RRDIDX@#@COLOR@:@RRDPARAM@
    GPRINT:v@RRDIDX@:LAST: %8.2lf (cur)
    GPRINT:v@RRDIDX@:MAX: %8.2lf (max)\n

[powerlinecounts]
    FNPATTERN ^powerline,(a[0-9a-f]+_p[0-9a-f]+_(?:tx|rx)_pb_(?:pass|fail)_per_second)\.rrd$
    TITLE Powerline PB interval counts
    YAXIS PB/s
    -l 0
    DEF:v@RRDIDX@=@RRDFN@:value:AVERAGE
    LINE1:v@RRDIDX@#@COLOR@:@RRDPARAM@
    GPRINT:v@RRDIDX@:LAST: %8.2lf (cur)
    GPRINT:v@RRDIDX@:MAX: %8.2lf (max)\n

[powerlinempdu]
    FNPATTERN ^powerline,(a[0-9a-f]+_p[0-9a-f]+_(?:tx|rx)_mpdu_(?:ack|fail|collision)_per_second)\.rrd$
    TITLE Powerline MPDU rates
    YAXIS MPDU/s
    -l 0
    DEF:v@RRDIDX@=@RRDFN@:value:AVERAGE
    LINE1:v@RRDIDX@#@COLOR@:@RRDPARAM@
    GPRINT:v@RRDIDX@:LAST: %8.2lf (cur)
    GPRINT:v@RRDIDX@:MAX: %8.2lf (max)\n

[powerlineslotphy]
    FNPATTERN ^powerline,(a[0-9a-f]+_p[0-9a-f]+_rx_slot[0-9]+_phy_mbps)\.rrd$
    TITLE Powerline receive slot PHY
    YAXIS Mbit/s
    -l 0
    DEF:v@RRDIDX@=@RRDFN@:value:AVERAGE
    LINE1:v@RRDIDX@#@COLOR@:@RRDPARAM@
    GPRINT:v@RRDIDX@:LAST: %8.2lf (cur)
    GPRINT:v@RRDIDX@:MAX: %8.2lf (max)\n

[powerlineslotpb]
    FNPATTERN ^powerline,(a[0-9a-f]+_p[0-9a-f]+_rx_slot[0-9]+_pb_interval_pct)\.rrd$
    TITLE Powerline receive slot PB interval error
    YAXIS Percent
    -l 0
    DEF:v@RRDIDX@=@RRDFN@:value:AVERAGE
    LINE1:v@RRDIDX@#@COLOR@:@RRDPARAM@
    GPRINT:v@RRDIDX@:LAST: %8.2lf (cur)
    GPRINT:v@RRDIDX@:MAX: %8.2lf (max)\n

[powerlineber]
    FNPATTERN ^powerline,(a[0-9a-f]+_p[0-9a-f]+_rx_(?:slot[0-9]+|all)_ber_interval_pct)\.rrd$
    TITLE Powerline BER-sum interval ratio (not FEC BER)
    YAXIS Percent
    -l 0
    DEF:v@RRDIDX@=@RRDFN@:value:AVERAGE
    LINE1:v@RRDIDX@#@COLOR@:@RRDPARAM@
    GPRINT:v@RRDIDX@:LAST: %8.2lf (cur)
    GPRINT:v@RRDIDX@:MAX: %8.2lf (max)\n

[powerlinefec]
    FNPATTERN ^powerline,(a[0-9a-f]+_p[0-9a-f]+_rx_all_fec_interval_pct)\.rrd$
    TITLE Powerline receive FEC interval bit error
    YAXIS Percent
    -l 0
    DEF:v@RRDIDX@=@RRDFN@:value:AVERAGE
    LINE1:v@RRDIDX@#@COLOR@:@RRDPARAM@
    GPRINT:v@RRDIDX@:LAST: %8.2lf (cur)
    GPRINT:v@RRDIDX@:MAX: %8.2lf (max)\n

[powerlinereported]
    FNPATTERN ^powerline,(a[0-9a-f]+_p[0-9a-f]+_.+_(?:reported|interval)_pct)\.rrd$
    TITLE Powerline ratios (reported cumulative vs interval)
    YAXIS Percent
    -l 0
    DEF:v@RRDIDX@=@RRDFN@:value:AVERAGE
    LINE1:v@RRDIDX@#@COLOR@:@RRDPARAM@
    GPRINT:v@RRDIDX@:LAST: %8.2lf (cur)
    GPRINT:v@RRDIDX@:MAX: %8.2lf (max)\n

[powerlineraw]
    FNPATTERN ^powerline,(a[0-9a-f]+_p[0-9a-f]+_.+_(?:pass|fail|ack|collision))\.rrd$
    TITLE Powerline cumulative counters and BER sums
    YAXIS Count
    -l 0
    DEF:v@RRDIDX@=@RRDFN@:value:AVERAGE
    LINE1:v@RRDIDX@#@COLOR@:@RRDPARAM@
    GPRINT:v@RRDIDX@:LAST: %8.2lf (cur)
    GPRINT:v@RRDIDX@:MAX: %8.2lf (max)\n

[powerlinestate]
    FNPATTERN ^powerline,(a[0-9a-f]+_pself_present)\.rrd$
    TITLE Powerline adapter presence
    YAXIS Present
    -l 0
    DEF:v@RRDIDX@=@RRDFN@:value:AVERAGE
    LINE1:v@RRDIDX@#@COLOR@:@RRDPARAM@
    GPRINT:v@RRDIDX@:LAST: %8.2lf (cur)
    GPRINT:v@RRDIDX@:MAX: %8.2lf (max)\n
