# Graph definitions for the "diskio" Xymon extension.
#
# Include this file from the Xymon server's graphs.cfg, e.g.:
#   include /etc/xymon/graphs.d/graphs-diskio.cfg
# (or append its contents to graphs.cfg directly).
#
# The RRD files are created by split-NCV from the extension's data
# messages: one file per instance and metric, named
# diskio,<instance>_<metric>.rrd with a single dataset called
# "lambda". See server/README.md.

[diskiorbps]
    FNPATTERN diskio,(.+)_rbps.rrd
    TITLE Disk read throughput
    YAXIS Bytes/second
    DEF:r@RRDIDX@=@RRDFN@:lambda:AVERAGE
    LINE2:r@RRDIDX@#@COLOR@:@RRDPARAM@
    GPRINT:r@RRDIDX@:LAST: %6.1lf%s (cur)
    GPRINT:r@RRDIDX@:AVERAGE: %6.1lf%s (avg)
    GPRINT:r@RRDIDX@:MAX: %6.1lf%s (max)\n

[diskiowbps]
    FNPATTERN diskio,(.+)_wbps.rrd
    TITLE Disk write throughput
    YAXIS Bytes/second
    DEF:w@RRDIDX@=@RRDFN@:lambda:AVERAGE
    LINE2:w@RRDIDX@#@COLOR@:@RRDPARAM@
    GPRINT:w@RRDIDX@:LAST: %6.1lf%s (cur)
    GPRINT:w@RRDIDX@:AVERAGE: %6.1lf%s (avg)
    GPRINT:w@RRDIDX@:MAX: %6.1lf%s (max)\n

[diskioriops]
    FNPATTERN diskio,(.+)_riops.rrd
    TITLE Disk read IOPS
    YAXIS Ops/second
    DEF:r@RRDIDX@=@RRDFN@:lambda:AVERAGE
    LINE2:r@RRDIDX@#@COLOR@:@RRDPARAM@
    GPRINT:r@RRDIDX@:LAST: %6.1lf (cur)
    GPRINT:r@RRDIDX@:AVERAGE: %6.1lf (avg)
    GPRINT:r@RRDIDX@:MAX: %6.1lf (max)\n

[diskiowiops]
    FNPATTERN diskio,(.+)_wiops.rrd
    TITLE Disk write IOPS
    YAXIS Ops/second
    DEF:w@RRDIDX@=@RRDFN@:lambda:AVERAGE
    LINE2:w@RRDIDX@#@COLOR@:@RRDPARAM@
    GPRINT:w@RRDIDX@:LAST: %6.1lf (cur)
    GPRINT:w@RRDIDX@:AVERAGE: %6.1lf (avg)
    GPRINT:w@RRDIDX@:MAX: %6.1lf (max)\n

[diskiorlat]
    FNPATTERN diskio,(.+)_rlat.rrd
    TITLE Disk read latency (avg per op, incl. queueing)
    YAXIS Milliseconds
    DEF:r@RRDIDX@=@RRDFN@:lambda:AVERAGE
    LINE2:r@RRDIDX@#@COLOR@:@RRDPARAM@
    GPRINT:r@RRDIDX@:LAST: %6.2lf (cur)
    GPRINT:r@RRDIDX@:AVERAGE: %6.2lf (avg)
    GPRINT:r@RRDIDX@:MAX: %6.2lf (max)\n

[diskiowlat]
    FNPATTERN diskio,(.+)_wlat.rrd
    TITLE Disk write latency (avg per op, incl. queueing)
    YAXIS Milliseconds
    DEF:w@RRDIDX@=@RRDFN@:lambda:AVERAGE
    LINE2:w@RRDIDX@#@COLOR@:@RRDPARAM@
    GPRINT:w@RRDIDX@:LAST: %6.2lf (cur)
    GPRINT:w@RRDIDX@:AVERAGE: %6.2lf (avg)
    GPRINT:w@RRDIDX@:MAX: %6.2lf (max)\n

[diskioutil]
    FNPATTERN diskio,(.+)_util.rrd
    TITLE Disk utilization
    YAXIS Percent
    DEF:u@RRDIDX@=@RRDFN@:lambda:AVERAGE
    LINE2:u@RRDIDX@#@COLOR@:@RRDPARAM@
    GPRINT:u@RRDIDX@:LAST: %5.1lf%% (cur)
    GPRINT:u@RRDIDX@:AVERAGE: %5.1lf%% (avg)
    GPRINT:u@RRDIDX@:MAX: %5.1lf%% (max)\n

[diskioqlen]
    FNPATTERN diskio,(.+)_qlen.rrd
    TITLE Disk queue depth (avg outstanding requests)
    YAXIS Requests
    DEF:q@RRDIDX@=@RRDFN@:lambda:AVERAGE
    LINE2:q@RRDIDX@#@COLOR@:@RRDPARAM@
    GPRINT:q@RRDIDX@:LAST: %6.2lf (cur)
    GPRINT:q@RRDIDX@:AVERAGE: %6.2lf (avg)
    GPRINT:q@RRDIDX@:MAX: %6.2lf (max)\n
