# Graph definitions for the "smart" Xymon extension.
#
# Include this file from the Xymon server's graphs.cfg, e.g.:
#   include /etc/xymon/graphs.d/graphs-smart.cfg
# (or append its contents to graphs.cfg directly).
#
# The RRD files are created by split-NCV from the extension's data
# messages: one file per disk and metric, named smart,<disk>_<metric>.rrd
# with a single dataset called "lambda". See server/README.md.

[smarttemp]
    FNPATTERN smart,(.+)_temp.rrd
    TITLE Disk temperature (SMART)
    YAXIS Celsius
    DEF:t@RRDIDX@=@RRDFN@:lambda:AVERAGE
    LINE2:t@RRDIDX@#@COLOR@:@RRDPARAM@
    GPRINT:t@RRDIDX@:LAST: %3.0lf (cur)
    GPRINT:t@RRDIDX@:MAX: %3.0lf (max)
    GPRINT:t@RRDIDX@:MIN: %3.0lf (min)\n

[smartwear]
    FNPATTERN smart,(.+)_wear.rrd
    TITLE SSD life used (SMART)
    YAXIS Percent
    DEF:w@RRDIDX@=@RRDFN@:lambda:AVERAGE
    LINE2:w@RRDIDX@#@COLOR@:@RRDPARAM@
    GPRINT:w@RRDIDX@:LAST: %3.0lf%% (cur)
    GPRINT:w@RRDIDX@:MAX: %3.0lf%% (max)\n

[smartspare]
    FNPATTERN smart,(.+)_spare.rrd
    TITLE NVMe available spare (SMART)
    YAXIS Percent
    DEF:s@RRDIDX@=@RRDFN@:lambda:AVERAGE
    LINE2:s@RRDIDX@#@COLOR@:@RRDPARAM@
    GPRINT:s@RRDIDX@:LAST: %3.0lf%% (cur)
    GPRINT:s@RRDIDX@:MIN: %3.0lf%% (min)\n

[smartrealloc]
    FNPATTERN smart,(.+)_realloc.rrd
    TITLE Reallocated sectors (SMART)
    YAXIS Sectors
    DEF:r@RRDIDX@=@RRDFN@:lambda:AVERAGE
    LINE2:r@RRDIDX@#@COLOR@:@RRDPARAM@
    GPRINT:r@RRDIDX@:LAST: %6.0lf (cur)
    GPRINT:r@RRDIDX@:MAX: %6.0lf (max)\n

[smartpending]
    FNPATTERN smart,(.+)_pending.rrd
    TITLE Pending sectors (SMART)
    YAXIS Sectors
    DEF:p@RRDIDX@=@RRDFN@:lambda:AVERAGE
    LINE2:p@RRDIDX@#@COLOR@:@RRDPARAM@
    GPRINT:p@RRDIDX@:LAST: %6.0lf (cur)
    GPRINT:p@RRDIDX@:MAX: %6.0lf (max)\n

[smartuncorr]
    FNPATTERN smart,(.+)_uncorr.rrd
    TITLE Uncorrectable sectors (SMART)
    YAXIS Sectors
    DEF:u@RRDIDX@=@RRDFN@:lambda:AVERAGE
    LINE2:u@RRDIDX@#@COLOR@:@RRDPARAM@
    GPRINT:u@RRDIDX@:LAST: %6.0lf (cur)
    GPRINT:u@RRDIDX@:MAX: %6.0lf (max)\n

[smartcrc]
    FNPATTERN smart,(.+)_crc.rrd
    TITLE Interface CRC errors (SMART)
    YAXIS Errors
    DEF:c@RRDIDX@=@RRDFN@:lambda:AVERAGE
    LINE2:c@RRDIDX@#@COLOR@:@RRDPARAM@
    GPRINT:c@RRDIDX@:LAST: %6.0lf (cur)
    GPRINT:c@RRDIDX@:MAX: %6.0lf (max)\n

[smartmediaerr]
    FNPATTERN smart,(.+)_mediaerr.rrd
    TITLE NVMe media errors (SMART)
    YAXIS Errors
    DEF:m@RRDIDX@=@RRDFN@:lambda:AVERAGE
    LINE2:m@RRDIDX@#@COLOR@:@RRDPARAM@
    GPRINT:m@RRDIDX@:LAST: %6.0lf (cur)
    GPRINT:m@RRDIDX@:MAX: %6.0lf (max)\n

[smarthours]
    FNPATTERN smart,(.+)_hours.rrd
    TITLE Power-on hours (SMART)
    YAXIS Hours
    DEF:h@RRDIDX@=@RRDFN@:lambda:AVERAGE
    LINE1:h@RRDIDX@#@COLOR@:@RRDPARAM@
    GPRINT:h@RRDIDX@:LAST: %8.0lf (cur)\n

[smartwritten]
    FNPATTERN smart,(.+)_written.rrd
    TITLE Host data written (SMART)
    YAXIS GiB
    DEF:w@RRDIDX@=@RRDFN@:lambda:AVERAGE
    LINE1:w@RRDIDX@#@COLOR@:@RRDPARAM@
    GPRINT:w@RRDIDX@:LAST: %8.0lf (cur)\n

[smartread]
    FNPATTERN smart,(.+)_read.rrd
    TITLE Host data read (SMART)
    YAXIS GiB
    DEF:r@RRDIDX@=@RRDFN@:lambda:AVERAGE
    LINE1:r@RRDIDX@#@COLOR@:@RRDPARAM@
    GPRINT:r@RRDIDX@:LAST: %8.0lf (cur)\n
