# Graph definitions for the "lxc" Xymon extension.
#
# Drop this file into the Xymon server's graphs.d directory
# (Debian/Ubuntu: /etc/xymon/graphs.d/), or append its contents to
# graphs.cfg directly. See ../README.md.
#
# The RRD files are created by split-NCV from the extension's data
# messages: one file per container and metric, named
# lxc,<container>_<metric>.rrd with a single dataset called "lambda",
# plus the three host-wide counters lxc,count_total.rrd,
# lxc,count_running.rrd and lxc,count_down.rrd. See server/README.md.
#
# The container name in the file name is the sanitized one - lowercase,
# with everything outside [a-z0-9] turned into "_", so the container
# "thunderbird-test" appears as "thunderbird_test" in the graph legend.

# The counter graph lists its three datasets explicitly instead of
# using (.+): that way a container that happens to be called "count"
# cannot end up in this graph, because "count_ram" does not match.
[lxccount]
    FNPATTERN lxc,count_(total|running|down).rrd
    TITLE LXC containers
    YAXIS Containers
    -l 0
    DEF:c@RRDIDX@=@RRDFN@:lambda:AVERAGE
    LINE2:c@RRDIDX@#@COLOR@:@RRDPARAM@
    GPRINT:c@RRDIDX@:LAST: %3.0lf (cur)
    GPRINT:c@RRDIDX@:MAX: %3.0lf (max)\n

[lxcram]
    FNPATTERN lxc,(.+)_ram.rrd
    TITLE Container memory usage
    YAXIS MiB
    -l 0
    DEF:m@RRDIDX@=@RRDFN@:lambda:AVERAGE
    LINE2:m@RRDIDX@#@COLOR@:@RRDPARAM@
    GPRINT:m@RRDIDX@:LAST: %8.1lf (cur)
    GPRINT:m@RRDIDX@:MAX: %8.1lf (max)
    GPRINT:m@RRDIDX@:AVERAGE: %8.1lf (avg)\n

# Percent of ONE core: a container using two cores fully shows 200.
[lxccpu]
    FNPATTERN lxc,(.+)_cpu.rrd
    TITLE Container CPU usage
    YAXIS Percent of one core
    -l 0
    DEF:c@RRDIDX@=@RRDFN@:lambda:AVERAGE
    LINE2:c@RRDIDX@#@COLOR@:@RRDPARAM@
    GPRINT:c@RRDIDX@:LAST: %8.1lf%% (cur)
    GPRINT:c@RRDIDX@:MAX: %8.1lf%% (max)
    GPRINT:c@RRDIDX@:AVERAGE: %8.1lf%% (avg)\n

[lxcnetin]
    FNPATTERN lxc,(.+)_netin.rrd
    TITLE Container traffic in
    YAXIS kbit/s
    -l 0
    DEF:n@RRDIDX@=@RRDFN@:lambda:AVERAGE
    LINE2:n@RRDIDX@#@COLOR@:@RRDPARAM@
    GPRINT:n@RRDIDX@:LAST: %8.1lf (cur)
    GPRINT:n@RRDIDX@:MAX: %8.1lf (max)
    GPRINT:n@RRDIDX@:AVERAGE: %8.1lf (avg)\n

[lxcnetout]
    FNPATTERN lxc,(.+)_netout.rrd
    TITLE Container traffic out
    YAXIS kbit/s
    -l 0
    DEF:n@RRDIDX@=@RRDFN@:lambda:AVERAGE
    LINE2:n@RRDIDX@#@COLOR@:@RRDPARAM@
    GPRINT:n@RRDIDX@:LAST: %8.1lf (cur)
    GPRINT:n@RRDIDX@:MAX: %8.1lf (max)
    GPRINT:n@RRDIDX@:AVERAGE: %8.1lf (avg)\n
